.szCalendar {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.szCalendar__multi {
  display: flex;
  flex-direction: row;
}
.szCalendar__multi-setup {
  width: 180px;
  border-right: 1px solid #E9E9E9;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.szCalendar__multi-setup a {
  color: #ff815c;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 11pt;
}
.szCalendar__multi-setup a:last-child {
  margin-bottom: 0px !important;
}
.szCalendar__multi-setup a:hover {
  text-decoration: underline;
}
.szCalendar__multi-form-inputs {
  padding: 15px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -10px;
}
.szCalendar__multi-form-inputs div {
  margin-right: 10px;
}
.szCalendar__multi-form-inputs-title {
  color: #7a7a7a;
  font-size: 11pt;
}
.szCalendar__multi-form-inputs input {
  max-width: 100px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 12pt;
  padding: 5px;
}
.szCalendar__multi-form-inputs input:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  background: #E9E9E9;
}
.szCalendar__body {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: -10px;
}
.szCalendar__body-item {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.szCalendar__body-item-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -10px;
  padding-bottom: 15px;
}
.szCalendar__body-item-menu-button {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  background: #E9E9E9;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  font-size: 10pt;
}
.szCalendar__body-item-menu-button:hover {
  background: #dedede;
}
.szCalendar__header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.szCalendar__header-title {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #E9E9E9;
  font-weight: bold;
}
.szCalendar__header-mini {
  padding: 10px;
  background: #E9E9E9;
  cursor: pointer;
}
.szCalendar__header-mini:hover {
  background: #dedede;
}

.debug {
  display: inline-flex;
}

table.szCalendar__table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}
table.szCalendar__table th {
  font-size: 10pt;
}
table.szCalendar__table td {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 10pt;
}
table.szCalendar__table td:hover {
  background: #E9E9E9;
}

.szCalendar-no-active {
  color: #BDBDBD;
}

.szCalendar-today {
  color: #FF4C4C;
  border-bottom: 1px solid #FF4C4C;
}

.szCalendar-interval-selected {
  background: #ffcead;
}

.szCalendar-selected {
  background: #ff6738;
  color: #fff;
}
.szCalendar-selected:hover {
  background: #ff3400 !important;
}

/*# sourceMappingURL=szCalendar.css.map */
