.szCalendar {
  font-family: Roboto, sans-serif;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  padding: 10px;
  font-size: 10pt;

  &__time {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }

    &-double {
      font-size: 20pt;
      font-weight: bold;
    }

    &-button {
      flex: 1 1 auto;
      max-width: 40px;
      padding: 15px;
      background: #E6E6E6;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      font-size: 14pt;
      color: #8D8D8D;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      transition: all .1s ease-in-out;

      &:active {
        background: #acacac !important;
      }

      &:hover {
        background: #D4D4D4;
        color: #000;
      }
    }

    input {
      flex: 1 1 auto;
      max-width: 40px;
      padding: 15px;
      background: #E6E6E6;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      -webkit-appearance: none;
      border: 0;
      font-size: 14pt;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }

  &__absolute {
    position: absolute;
    z-index: 9999999;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
  }

  &__hidded {
    display: none;
  }

  &__icon {
    &-clear {
      padding: 7px;
      border-radius: 5px;
      background: #E6E6E6;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: #d2d2d2;
      }
    }
  }

  &__step {
    width: 100%;
    height: 25px;
    background: #E6E6E6;
    color: #a0a0a0;
    margin-top: 5px;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;

    &.active {
      background: #ffdecd;
    }

    &.success {
      background: #dbfdc5;
    }
  }

  &__margin-bottom-10 {
    margin-bottom: 10px !important;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;

    &-inputs {
      color: #8D8D8D;

      input {
        max-width: 150px;
        -webkit-appearance: none;
        border: 1px solid #E6E6E6;
        font-size: 12pt;
        border-radius: 4px;
        padding: 5px;

        &:disabled {
          opacity: 0.7;
          cursor: not-allowed;
        }
      }
    }

    &-buttons {
      justify-content: space-between;
      font-size: 10pt;

      & > div {
        flex: 1 1 auto;
        padding: 7px;
        background: #E6E6E6;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: #D4D4D4;
        }
      }

    }
  }

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 0px !important;

    thead {
      th {
        padding: 10px;
      }
    }
    tbody {
      tr {
        border: 0px !important;

        td {
          padding: 10px;
          text-align: center;
          cursor: pointer;
          border: 0px !important;

          &.around {
            color: #8D8D8D !important;

            &.selected {
              background: #ffdecd;
            }

            &.active {
              background: #fc9974 !important;
              color: #fff !important;
            }

            &:hover {
              background: #e9e9e9;

              &.dateDisabled {
                background: #FFFFFF !important;
                color: #D5D5D5 !important;
                cursor: not-allowed;
              }
            }
          }

          // hover effect
          &:hover {
            background: #FEEAD3;

            &.dateDisabled {
              background: #FFFFFF !important;
              color: #D5D5D5 !important;
              cursor: not-allowed;
            }
          }

          &.cursor-not {
            cursor: not-allowed !important;
          }

          &.toDay {
            color: #f05a28;
          }

          &.dateDisabled {
            color: #D5D5D5 !important;
          }

          // active element calendar
          &.active {
            background: #f05a28 !important;
            color: #fff;
          }

          &.selected {
            background: #FEEAD3;
          }
        }
      }
    }
  }

  &__flex {
    &-ac {
      align-items: center;
    }

    &-sb {
      justify-content: space-between;
    }

    &-wrap {
      flex-wrap: wrap;
    }

    &-padding {
      box-sizing: border-box !important;
      margin: 0 0px;

      & > div {
        margin: 0 5px;
      }
    }
  }
}